---
import Pin from '../../components/Pin.astro';
import IngredientItem from '../../components/IngredientItem.astro'
import EmptySection from '../../components/EmptySection.astro'

import Layout from '../../layouts/Layout.astro';
import RecipeLayout from '../../layouts/RecipeLayout.astro';
import { getRecipes, getRecipe } from '../../singleton';
import type { Recipe } from '../../types';
import { mediumImage } from '../../utils/links';

export async function getStaticPaths() {

    const recipes = await getRecipes();

    return recipes.map((r: Recipe) => {
        return { params: { id: r.id } }
    })
};

const { id } = Astro.params;
const recipe: Recipe = await getRecipe(parseInt(`${id}`))

// return Astro.redirect('/404');

const thumbUrl = mediumImage(recipe.id)

---
<RecipeLayout title={recipe.title}>

<section class="summary">
    <img src={thumbUrl}>
    <div class="summary-title">
        <h1>{recipe.title}</h1>
        <h2>{recipe.subtitle}</h2>
        <div class="summary-title-pins">
            {recipe.tags.map(t => (
                <Pin name={t.name} />
            ))}
        </div>
    </div>
</section>

<a href="/">↵ back</a>
<a href={`https://chef-a2nlxswxda-ez.a.run.app/#/recipes/${recipe.id}`}>edit</a>

<section class="ingredients-content">
    <h4 style="margin-bottom: 0;">{recipe.ingredients.length} INGREDIENTS</h4>
    <ul class="ingredients-list">
        {recipe.ingredients.map(ing => (
            <IngredientItem ingredientItem={ing} />
        ))}
    </ul>
</section>

<section class="content">
    <Fragment set:html={recipe.body} />
    { recipe.body ? '' : <EmptySection title='Recipe not written yet...' subtitle="Don't be lazy!" /> }
</section>

<p class="tag">{recipe.source}</p>
<p>{recipe.subtitle}</p>
</RecipeLayout>

<style lang="scss" define:vars={{ thumbUrl }}>
@use "../../styles/bp";

.pins-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.summary {

    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: center;

    &-title {
        align-self: center;
        text-align: center;
        margin-top: 12px;
        margin-bottom:32px;
        font-family: serif;

        &-pins {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-items {
            margin-top: 12px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            p {
                padding: 0 8px;
                border-right: 1px solid var(--border-color);
            }

            :last-child {
                border: none;
            }
        }
    }

    img {
        border-radius: 50%;
        max-width: 50%;

        @include bp.for-phone-only {
            border-radius: 0;
            width: 100%;
            max-width: 100%;
            mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
            -webkit-mask-image: linear-gradient(to bottom, blue 1%, red 100%);
        }
    }

    h1, h2 {
        margin: 0;
    }
    h1 {
        font-size: xx-large;
    }

}

.ingredients-content {
    border: 1px solid var(--border-color);
    padding: 1em;
    margin: 1em;
    ul {
        padding: 0;
    }
}


.content {
    padding: 0 1em;
}

ul {
    &:first-child {
        background-color: red;
    }
    li {
        background-color: red;
    }
}

a {
    margin-left: 12px;
    color: var(--font-color);
}

</style>